.form_center{
    display:block;
    width:100vw;
    height:100vh;
    margin-left:50px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.btn1{
    display: flex;
    justify-content: center;
    margin: 0;
}
.btn-1{
    
    margin: 0px 80px ;
    width: 150px;
    height: 70px;
}
.view_student{
    display: block;
    width: 1080px;
    margin-left:50px;
    height: 100vh;
    overflow-y: scroll; 
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkcyan;
    margin: 20px;
}
.button-submit{
   
    width:970px;    
}
.inputform{
    width: 800px;
}
.table-bordered{
overflow-y: scroll;
}
.img-edit{
    display: flex;
    align-items: center;
    flex-direction: column;
}

table,thead,tr,th,tbody,td{
    border: 0.5px solid rgb(109, 109, 109);
}
td{
    padding: 5px;
    width: auto;
}
th{
    padding: 5px;
}

  table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for even rows */
  }
  table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for odd rows */
  }
  