.form_center{
    display:block;
    width:1000px;
    height: 100vh;
    margin-left:100px;
}
.btn1{
    display: flex;
    justify-content: center;
    margin: 0;
}
.btn-1{
    
    margin: 0px 80px ;
    width: 150px;
    height: 70px;
}
.colors{
    color: cadetblue;
}
.tablespace{
    overflow: auto;
}
.inputform{
    width: 800px;
}
.button-submit{
    width:970px;    
}
table{
    overflow: auto;
}
table,thead,tr,th,tbody,td{
    border: 0.1px solid rgb(151, 148, 148);
    
}
td{
    padding: 10px;
    width: auto;
}
th{
    padding: 5px;
}

  table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light gray background for even rows */
  }
  table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for odd rows */
  }
  